.legends-wrap {
    border: 2px solid powderblue;
    position: absolute;
    top: 240px;
    right: 32px;

    .legends {
        padding: 5px;
        list-style: none;

        .legend-item {
            margin-bottom: 5px;
        }

        .swatch {
            margin-right: 4px;
            display: inline-block;
        }
        .text {
            vertical-align: text-bottom;
            font-size: 12px;
        }

        .count {
            padding-right: 4px;
        }


        &.areas {
            .swatch {
                padding: 8px 15px;
            }
        }

        &.agents {
            .swatch {
                padding: 5px;
                border-radius: 50%;
            }
        }
    }
}
