.graph-input {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;
    margin: 0 auto;
}

.user-inputs {
    flex-basis: 85%;
    margin: auto;
}

.file-input {
  width: 25%;
}

.actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.button-text {
  vertical-align: text-bottom;
}

.error-message {
  padding: 10px;
  width: 30%;
  margin: 10px auto auto auto;
  display: flex;
  justify-content: center;
}

.form-row {
    margin: 10px;
    display: flex;
    flex-direction: column;

    &.tag-action {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0;
    }
  }

  .col.inputs {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
  }

  label {
    margin-bottom: 0.1rem;
  }

  // OVERRIDING BOOTSTRAP
  // if too many overrides, change the bootstrap source files
  .col-form-label-sm {
    padding-bottom: 0.1rem;
  }

  input {
    margin-bottom: 0.5rem;
    padding: 2px;
  }

  .custom-control.switch-right {
    padding-left: 0;

    input.custom-control-input {
      right: 0;
      left: unset;
    }

    label.custom-control-label {
      width: 100%;
      position: relative;
      padding-right: 1.6rem;
      font-weight: 650;
      color: var(--gray-dark);
    }

    label.custom-control-label::before {
      right: 0;
      left: auto;
    }

    label.custom-control-label::after {
      left: unset;
      right: calc(0.75rem + 2px);
    }
  }
